$ff-principal: 'Ubuntu', sans-serif;
$ff-secundaria: 'Montserrat', sans-serif;

// EDICIONES DE TIPOGRAFIAS DEL INDEX EN BOOTSTRAP
.font-blanco {color: $colorBlanco;}
.font-blanco:hover {color: $colorAmarillo;}
.font-tam-variable {font-size: 1.2rem;}
.font-bold {font-weight: bold;}
.font-titulos{
    color: $colorBlanco;
}